.image-container{
    width: 7.5rem;
    height: 7.5rem;
    border: 2px dashed #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b3b0b0;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    border-radius: 20%;

}
input[type="file"] {
    display: none;
}
.Log_out{
    text-decoration: none;
    color: black;
}
.logout_container{
    width: 6rem;
    height: 2rem;
    display: flex;
    justify-content:end;
}
.container{
    display: flex;
    justify-content: space-between;
}

